.ferryman-popup.j-ferryman-popup
    a(href='javascript:;').popup-close-link.j-popup-close-link
        +icon('close',21,21)
    .ferryman-popup__block
        span.title Перевозчик:
        span Алексеев Алексей
    .ferryman-popup__block
        span.title Ставка
        span 6500
    .ferryman-popup__block
        .ferryman-popup__inner-block
            span.title Тип:
            span Крытый транспорт
        .ferryman-popup__inner-block
            span.title Способ:
            span Наземный
        .ferryman-popup__inner-block
            span.title Транспорт:
            span Грузовик
    .ferryman-popup__block
        span.title Погрузка:
        span с 21.04.2016 по 24.04.2016
    .ferryman-popup__block
        span.title Оплата:
        span Наличные, Банковская карта, Предоплата перед погрузкой
    .ferryman-popup__block
        span.title Доставка:
        span В течение 3х суток после отгрузки
    .ferryman-popup__block
        span.title Детали договора:
        p К услугам заказчиков перевозка грузов автомобильным транспортом, отправка грузов контейнерами, а также доставка грузов воздушным транспортом. При необходимости клиенты могут заказать мультимодальную транспортировку грузов, позволяющую совмещать грузоперевозки двумя и более видами транспорта.
    .ferryman-popup__block
        span.title Прикрепленные документы:
        a(href='download/user.png' download).download-link Договор.pdf
    .ferryman-popup__block
        .ferryman-popup__inner-block
            a(href='#').j-popup-book-link Забронировать
        .ferryman-popup__inner-block
            a(href='#').j-popup-discuss-link Обсудить
        .ferryman-popup__inner-block
            a(href='#').j-popup-delay-link Отложить
        .ferryman-popup__inner-block
            a(href='#').j-popup-deny-link Отказать


