nav.fixed-menu
    .main-container
        ul.fixed-menu-list
            li.fixed-menu__item
                select
                    option Санкт-Петербург
                    option Москва
                    option Екатеринбург
                    option Владивосток
            li.fixed-menu__item.fixed-menu__item_tel
                span Бесплатная горячая линия
                span 8(800) 555-56-56
            li.fixed-menu__item
                a(href='javascript:;').fixed-menu__call-us Заказать звонок
                    +icon("tel",15,15)



