footer
    .main-container
        ul.footer-list
            li.footer__item.footer__logo
                p.copyright &#169; Cursus 2016
            li.footer__item.footer__feedback
                .footer__item-wrapper
                    a(href='#') Перевозчики
                    a(href='#') Обратная связь
            li.footer__item.footer__help
                .footer__item-wrapper
                    a(href='#') Помощь
                    a(href='#') Политика приватности
                    a(href='agreement.html') Пользовательское соглашение
            li.footer__item.footer__apps
                .footer__item-wrapper
                    a(href='#').app__android Приложение для Android
                    a(href='#').app__iOS Приложение для iOS
            li.footer__item.footer__socials
                .footer__item-wrapper
                    a(href='#')
                        img(src='../local/templates/main/img/vk.svg' alt='вконтакте')
                    a(href='#')
                        img(src='../local/templates/main/img/fb.svg' alt='фэйсбук')
