extends includes/layout

block title
    title Как это работает

block content
    .main-container
        .how-it-works
            .how-it-works__block
                .how-it-works__text
                    .how-it-works__text-wrap
                        .how-it-works__title Такое-то действие
                        .how-it-works__detailed
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida. Aenean euismod bibendum laoreet. Proin gravida Aenean euismod bibendum laoreet. Proin gravida
                .how-it-works__img
                    .img-wrap
                        img(src='../local/templates/main/img/bg.jpg' alt='Фото груза')
            .how-it-works__block
                .how-it-works__img
                    .img-wrap
                        img(src='../local/templates/main/img/bg.jpg' alt='Фото груза')
                .how-it-works__text
                    .how-it-works__text-wrap
                        .how-it-works__title Такое-то действие
                        .how-it-works__detailed
                            p Lorem ipsum dolor sit amet, consectbibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida. Aenean euismod bibendum laoreet. Proin gravida Aenean euismod bibendum laoreet. Proin gravida
            .how-it-works__block
                .how-it-works__text
                    .how-it-works__text-wrap
                        .how-it-works__title Такое-то действие
                        .how-it-works__detailed
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida. Aenean euismod bibendum laoreet. Proin gravida Aenean euismod bibendum laoreet. Proin gravida
                .how-it-works__img
                    .img-wrap
                        img(src='../local/templates/main/img/bg.jpg' alt='Фото груза')




