extends includes/layout

block title
    title CURSUS Грузоперевозки

block content
    .main-page-wrapper
        .main-container
            .title-page__wrapper
                h1 Грузоперевозки любых масштабов
                p.title-page__about Грузоперевозки любых масштабов по всей России!
                    br
                    | С нами легко найти перевозчика и быстро доставить любой груз!
                    br
                    | Регистрируйтесь и отслеживайте местоположение заказа из личного кабинета в реальном времени!
                a(href='how-it-works.html').title-page__know-more Подробнее о сервисе

