
extends includes/layout

block title
    title Качество дорог

block content
    .main-container.news-item
            h1 Качество дорог
                p 11.11.2015
            p
                .news__img
                    img(src='../local/templates/main/img/bg.jpg' alt='фото перевозчика')
                .news__article
                    p.text К услугам заказчиков перевозка грузов автомобильным транспортом, отправка грузов контейнерами, а также доставка грузов воздушным транспортом. При необходимости клиенты могут заказать мультимодальную транспортировку грузов, позволяющую совмещать грузоперевозки двумя и более видами транспорта. К услугам заказчиков перевозка грузов автомобильным транспортом, отправка грузов контейнерами, а также доставка грузов и прочих, отправка грузов контейнерами, а также доставка грузов и прочих
                    p.text К услугам заказчиков перевозка грузов автомобильным транспортом, отправка грузов контейнерами, а  еревозка грузов автомобильным транспортом, отправка грузов контейнерами, а  еревозка грузов автомобильным транспортом, отправка грузов контейнерами, а  еревозка грузов автомобильным транспортом, отправка грузов контейнерами, а  еревозка грузов автомобильным транспортом, отправка грузов контейнерами, а  еревозка грузов автомобильным транспортом, отправка грузов контейнерами, а еревозка грузов автомобильным транспортом, отправка грузов контейнерами, а  также доставка грузов воздушным транспортом. При необходимости клиенты могут заказать мультимодальную транспортировку грузов, позволяющую совмещать грузоперевозки двумя и более видами транспорта. К услугам заказчиков перевозка грузов автомобильным транспортом, отправка грузов контейнерами, а также доставка грузов и прочих, отправка грузов контейнерами, а также доставка грузов и прочих
                    p.text К услугам заказчиков перевозка грузов автомобильным транспортом, отправка грузов контейнерами, а также доставка грузов воздушным транспортом. При необходимости клиенты могут заказать мультимодальную транспортировку грузов, позволяющую совмещать грузоперевозки двумя и более видами транспорта. К услугам заказчиков перевозка грузов автомобильным транспортом, отправка грузов контейнерами, а также доставка грузов и прочих, отправка грузов контейнерами, а также доставка грузов и прочих.