extends includes/layout

block title
    title Регистрация

block content
    .main-container.registration
        .registration-link-wrapper
            .registration-link
                a(href='registration.html').registration-link__carrier Зарегистрироваться как перевозчик
            .registration-link
                a(href='#').registration-link__customer Зарегистрироваться как заказчик


