extends includes/layout

block title
    title Поднимите объявление в топ

block content
    .main-container.to-top
        .to-top__title Поднимите объявление в топ
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        span 300 рублей
        .to-top__buttons
            a(href='#').to-top__yes-link Поднять в топ
            a(href='cargo-search.html').to-top__no-link Отказаться и продолжить



